<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Kakaopay Sample</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
</head>
<body>
<ul>
    <li>
        <a href="/ready/pc/layer">payment in pc layer view style</a>
    </li>
    <li>
        <a href="/ready/pc/popup">payment in pc popup view style</a>
    </li>
    <li>
        <a href="/ready/mobile/redirect">mobile payment</a>
    </li>
    <li>
        <a href="/ready/app/webview">app payment</a>
    </li>
</ul>
</body>
</html>